body{
    background-attachment: fixed;
    font-family: 'Montserrat', sans-serif;
}

header{
    font-family: 'Permanent Marker';
    background: rgb(255, 192, 203);
    padding: 20px 0;
}

nav{
    position: absolute;
}

fieldset{
    display: grid;
}

nav li{
    display: inline;
    margin: 0 0px 0px 22px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: gray;
    text-decoration: underline;
}

.numero{
    font-weight: bold;
}

.caixa{
    position: relative;
    width: 940px;
    margin: 0 auto;
}

footer{
    text-align: center;
    background-color: #c980b0;
    padding: 0 0 20px;
}

.copyright {
    font-family: 'Permanent Marker';
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 20px;
}
/* FIM DO HEADER E FOOTER */


.titulo-principal{
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 10px 0 1em;
    clear: left;
}

.principal{
    padding: 3m 0;
    width: 940px;
    margin: 0 auto;
}

.principal p{
    margin: 0 0 1em;
}

.principal strong{
    font-weight: bold;
}

.principal em{
    font-style: italic;
}

.fundo-contato{
    background: linear-gradient(to bottom, #ffffff 15%, #c980b0 100%);
}

.horarios-contato table{    
    margin: 30px auto 30px;
    width: 50%;
}

.horarios-contato thead{
    background-color: darkgray;
    color: white;
    font-weight: bold;
    text-align: center;
}

.horarios-contato td, th{
    border: 1px solid black;
    padding: 8px 15px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}


@media screen and (max-width: 860px){
.caixa{
    width: auto;
}

h1{
    text-align: center;
}

nav{
    position: static;
    text-align: center;
}

.col{
    text-align: -webkit-center;
}

nav a{
    font-size: 20px;
}

form{
    margin: 5px auto;
    padding: 10px 5px;
}
.produtos li{
    width: 290px;
    margin: 2% 4%;
}

.horarios-contato table{    
    margin: 30px auto 30px;
    width: -webkit-fill-available;
}

.enviar{
    margin: 30px auto;
    width: -webkit-fill-available;
}

}